HOST=0.0.0.0
FRONTEND_URL=http://FRONTEND_IP:3000
DATABASE_URL=postgresql://user:password@address:5432/example_db
OLLAMA_URL=http://SERVER_IP:11434/api/generate
OLLAMA_MODEL=modelname
MODEL_PROMPT="Write a helpful haiku using this text."